@media screen and (max-width: 644px) {
header {
	float:none;
	}	
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}
.show_pc{display:none !important;}	
.show_sp{display:inline-block !important;}	
h1{
	text-align:center;
	}
div.float,
img.float,
a.float,
.float{
	float:none!important;
	text-align:center;
	margin:7px auto;
	display:inline-block;
	}
img.header_logo{
	height:auto;
	}		
img.header_mail{
	float:none;
	text-align:center;
	margin:1px auto;
	}		
div.banner{
	display:none;
	}

div.content div.article_index div.box3_bg_article {
	width: auto;
	height: auto;
	margin-top: 40px;
	padding: 15px 3% 9px 3%;
	background: none;
	border: 10px solid #f4e27a;
	border-radius: 6px;
}
img.title_5_box3,
img.img_8_box3 {height: auto!important;}
img.img_k_box3 {
    right: 18px !important;
    top: -50px !important;
}
img.img_9_box3 {
    float: none!important;
    margin: 10px auto;
    text-align: center;
}
div.content div.article_index div.box3_bg_article p.p_margin {
    float: none;
    width: 100%;
    margin-left: 0;
    opacity: 0.7;
}
div.aside {
    float: none;
    margin: 25px auto;
}
footer {
    width: 100%;
    min-width: auto;
}
footer div.info_l_f {
    float: none;
    margin-top: 30px;
}
footer div.info_l_f .text_f {
    font-size: 18px;
}
footer div.menu_f {
    float: none;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-left: 0;
    border-top: 2px solid #f2f2f2; 
    text-align: left;
}
footer div.menu_f ul {
    display: inline-block;
    float: none;
    width: 119px;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}
#copyright {
    min-width: auto;
    padding: 10px 0 5px 0;
    opacity: 0.8;
    }