.clear {
  clear: both; }

html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, header, footer {
  border: 0;
  color: #000000;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

ol, ul {
  list-style-type: none;
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

.space_top {
  margin-top: 40px !important; }

body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  font-size: 12px;
  background: #ffffff;
  color: #a7a7a7; }
  body h2 {
    width: 100%;
    height: 31px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    background: url(../images/bg_title.jpg) no-repeat right top; }
    body h2 img.img_title {
      margin: 10px auto auto 10px; }
    body h2 img.img_href {
      float: right;
      margin: 10px 10px auto auto; }

h2.h2_mar_top {
  margin-top: 25px;
  margin-bottom: 10px; }

.show_sp {
  display: none; }

#pageTop:hover,
div.content a:hover,
.aside a:hover,
h2 a img.img_href:hover,
footer .btn_info_f a:hover,
.bxslider a:hover,
.info_header a:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); }

footer div.menu_f li a:hover {
  text-decoration: underline; }

/*header*/
header {
  display: inline-block;
  width: 100%;
  height: auto;
  float: left;
  margin: 0 auto;
  padding-top: 20px;
  z-index: 999;
  position: relative;
  background: url(../images/header_top.jpg) repeat-x left top; }
  header div.info_header {
    float: right;
    width: 100%;
    max-width: 430px;
    height: auto;
    margin-top: 10px;
    display: inline-block; }
  header .phone_header_1, header .phone_header_2, header .email_header {
    float: left; }
  header .header_logo {
    float: left;
    width: 100%;
    max-width: 352px;
    height: auto; }

/*inner*/
div.inner, div.banner div.slider {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 976px;
  min-width: 976px;
  position: relative;
  clear: both; }

/*banner*/
div.banner {
  display: inline-block;
  width: 100%;
  height: 318px;
  float: left;
  margin: 1px auto 2px auto;
  position: relative;
  z-index: 999;
  text-align: center;
  background: url(../images/bg_banner.png) repeat-x left top; }
  div.banner .slider {
    height: 318px; }
    div.banner .slider .b_1 {
      width: 116px;
      height: 23px;
      bottom: 12%;
      left: 33%;
      position: absolute; }
    div.banner .slider .b_2 {
      width: 116px;
      height: 23px;
      bottom: 12%;
      right: 1.6%;
      position: absolute; }

/*nav*/
div.nav {
  float: left;
  width: 100%;
  height: 73px;
  display: inline-block;
  z-index: 999;
  position: relative;
  background: url(../images/bg_menu.jpg) repeat-x left top; }
  div.nav div.menu {
    width: 100%;
    max-width: 986px;
    min-width: 986px;
    height: auto;
    display: block;
    margin: 0 auto; }
    div.nav div.menu ul li {
      float: left;
      width: 162px;
      height: 65px;
      border-left: 2px solid #ffffff; }
      div.nav div.menu ul li a {
        width: 100%;
        height: 64px;
        display: block;
        position: relative;
        text-align: center; }
      div.nav div.menu ul li .menu_6 {
        border-right: 2px solid #ffffff; }
      div.nav div.menu ul li ul.subNav li.subNav {
        width: 100%;
        height: auto !important;
        margin: 0 !important;
        padding: 7px 0;
        border: none;
        border-bottom: 1px solid #fff; }
        div.nav div.menu ul li ul.subNav li.subNav a.subNav {
          float: none !important;
          height: auto !important;
          z-index: 999 !important;
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          color: #595959; }
      div.nav div.menu ul li ul.subNav li.subNav:hover {
        background: #fcdb81; }
    div.nav div.menu li.menu_1.active, div.nav div.menu li.menu_1:hover,
    div.nav div.menu li.menu_2.active, div.nav div.menu li.menu_2:hover,
    div.nav div.menu li.menu_3.active, div.nav div.menu li.menu_3:hover,
    div.nav div.menu li.menu_4.active, div.nav div.menu li.menu_4:hover,
    div.nav div.menu li.menu_5.active, div.nav div.menu li.menu_5:hover,
    div.nav div.menu li.menu_6.active, div.nav div.menu li.menu_6:hover {
      background: url(../images/bg_menu_hover.png) no-repeat center top; }
    div.nav div.menu li.menu_4 ul.subNav {
      display: none; }
    div.nav div.menu li.menu_4:hover ul.subNav {
      display: block;
      width: 162px;
      height: auto;
      position: absolute;
      background: #fde59e; }

/*aside*/
div.aside {
  float: right;
  width: 314px;
  margin-top: 30px;
  height: auto;
  text-align: center;
  font-size: 14px;
  color: #a7a7a7; }
  div.aside iframe.map_aside {
    width: 270px;
    height: 180px;
    margin: 0 auto 4px auto; }
  div.aside .box_aside_1 {
    width: 100%;
    display: inline-block; }
    div.aside .box_aside_1 p {
      float: left;
      width: 150px;
      text-align: left;
      opacity: 0.6; }
    div.aside .box_aside_1 img {
      float: right;
      margin-top: 20px; }
  div.aside .box_aside_2 {
    width: 275px;
    height: 60px;
    display: inline-block;
    margin-bottom: 32px;
    padding: 14px 20px;
    text-align: left;
    background: url(../images/aside_bg_y.jpg) no-repeat left top; }
  div.aside .text_grey {
    color: #a7a7a7; }

/*content*/
div.content {
  float: left;
  width: 100%;
  max-width: 645px;
  height: auto;
  margin-top: 30px; }
  div.content div.article_index {
    width: 100%;
    height: auto;
    text-align: center; }
    div.content div.article_index div.box1_article {
      float: left;
      width: 314px;
      height: auto;
      text-align: left; }
      div.content div.article_index div.box1_article img.img_box1_ar {
        float: left; }
      div.content div.article_index div.box1_article p {
        float: left;
        width: 164px;
        height: auto;
        margin-left: 10px;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        opacity: 0.8; }
        div.content div.article_index div.box1_article p a {
          float: right; }
      div.content div.article_index div.box1_article h2.h2_top_box1 {
        margin-top: 20px; }
    div.content div.article_index div.box2_article {
      float: right;
      width: 314px;
      height: auto;
      text-align: left; }
      div.content div.article_index div.box2_article dl.dl_info {
        display: inline-block;
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 14px;
        opacity: 0.6; }
        div.content div.article_index div.box2_article dl.dl_info dt {
          float: left;
          margin-left: 7px;
          padding-left: 15px;
          text-align: left;
          background: url(../images/bullet_1.jpg) no-repeat left 6px; }
        div.content div.article_index div.box2_article dl.dl_info dd {
          margin: auto auto 5px auto;
          padding-bottom: 5px;
          padding-left: 117px;
          border-bottom: 1px dotted #b2b2b2; }
      div.content div.article_index div.box2_article img.img_box2 {
        width: 100%;
        margin-top: 10px;
        display: inline-block; }
    div.content div.article_index div.box3_bg_article {
      width: 598px;
      height: 591px;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      padding: 65px 22px 16px 22px;
      background: url(../images/bg_border.jpg) no-repeat left top;
      position: relative; }
      div.content div.article_index div.box3_bg_article img.img_k_box3 {
        position: absolute;
        right: 25px;
        top: -5px; }
      div.content div.article_index div.box3_bg_article img.title_5_box3 {
        width: 100%;
        max-width: 599px;
        height: 35px;
        margin-bottom: 5px; }
      div.content div.article_index div.box3_bg_article img.img_8_box3 {
        width: 100%;
        max-width: 591px;
        height: 112px;
        margin-bottom: 10px; }
      div.content div.article_index div.box3_bg_article img.img_9_box3 {
        float: right;
        width: 100%;
        max-width: 211px;
        height: 238px; }
      div.content div.article_index div.box3_bg_article p.p_margin {
        float: left;
        width: 377px;
        height: auto;
        text-align: left;
        font-size: 14px;
        margin: 0 0 20px 3px; }
      div.content div.article_index div.box3_bg_article a.button_4 {
        float: right;
        margin-top: 25px; }

/*footer*/
footer {
  width: 100%;
  min-width: 986px;
  height: auto;
  float: left;
  display: block;
  margin: 60px auto 30px auto;
  z-index: 999;
  color: #a7a7a7;
  position: relative;
  background: url(../images/footer_line_top.jpg) repeat-x top left; }
  footer div.info_l_f {
    float: left;
    width: 100%;
    max-width: 316px;
    height: auto;
    display: inline-block;
    margin-top: 70px;
    text-align: left;
    font-size: 14px; }
    footer div.info_l_f img.footer_logo {
      width: 100%;
      display: inline-block; }
    footer div.info_l_f p {
      width: 100%;
      display: inline-block; }
    footer div.info_l_f .text_f {
      color: #a7a7a7; }
    footer div.info_l_f .btn_info_f {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 20px; }
    footer div.info_l_f span.phone_f {
      font-size: 18px; }
  footer div.menu_f {
    float: left;
    width: 100%;
    height: auto;
    max-width: 577px;
    margin-top: 55px;
    margin-left: 40px;
    padding-top: 55px;
    padding-left: 40px;
    border-left: 2px solid #f2f2f2;
    text-align: left; }
    footer div.menu_f ul {
      float: left;
      width: 174px; }
      footer div.menu_f ul li {
        width: 100%;
        display: inline-block;
        margin: 3px 0;
        text-align: left; }
        footer div.menu_f ul li a {
          display: inline-block;
          padding-left: 20px;
          text-align: left;
          color: black;
          background: url(../images/footer_bullet.jpg) no-repeat left center; }
      footer div.menu_f ul li.menu_sub {
        margin-left: 35px; }
        footer div.menu_f ul li.menu_sub a {
          text-align: left;
          padding-left: 15px;
          background: url(../images/footer_bullet_2.jpg) no-repeat left center; }

#pageTop {
  position: absolute;
  right: 0;
  top: -34px; }

#copyright {
  float: left;
  width: 100%;
  min-width: 976px;
  height: 20px;
  padding: 10px 0 5px 0;
  margin: 10px 0 20px 0;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background: url(../images/bg_copyright.jpg) repeat-x left top; }

/*# sourceMappingURL=style.css.map */
