/*
*info.html
*/
.info {
  &-content {
    margin-bottom: 75px;
  }
  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: left;
    border-radius: 10px;
    img {
      display: none;
      width: 206px;
      height: 136px;
      margin-left: 20px;
      border: 2px solid black;
      @include respond-to(480) {
        width: 50%;
      }
    }
  }
  p {
    display: none;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &-p {
    &-tit {
      font-weight: bold;
      text-align: left;
    }
  }
  &-compare {
    width: 32%;
    height: 5.4vw;
    max-height: 40px;
    min-height: 38px;
    font-weight: bold;
    @include btn-style();
  }
  &-link {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    a {
      color: blue;
      text-decoration: underline;
    }
    @include respond-to(480) {
      width: 100%;
    }
  }
  &-return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 5.4vw;
    max-height: 40px;
    min-height: 38px;
    margin-top: 30px;
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
    @include btn-style();
  }
}
.mar-top {margin-top: 10px;}

.header-title-info {
  height: auto;
  padding: 10px;
  text-align: left;
  opacity: 1;
  font-weight: bold;
  font-size: 2.98832rem;
  color: #001f4a;
  z-index: 999;
}
.link-opacity {
  cursor: pointer;
  &:hover {opacity: 0.5;}
}
