@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

caption {
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

a {
  text-decoration: none;
}

ul {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1.9em;
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: #eee8db url(../images/body.bg.png) repeat;
  font-size: 13px;
  color: #5e2b17;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 1.7em;
  word-wrap: break-word;
}

p {
  line-height: 1.9em;
}

a {
  color: #5e2b17;
}

a:hover {
  color: #954425;
}

// a:hover, a[href] img:hover {
//     opacity: 0.8;
// }
a.hasOpacity[href]:hover,
a.hasOpacity[href] img:hover,
.itemLeftSli5 p,
.itemRightSli5 p {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

iframe {
  border: 0;
}

.fixed {
  content: '';
  clear: both;
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 49px;
  padding-top: 50px;
  background: url(../images/head-bg.jpg) no-repeat;
}

.wrap {
  position: relative;
  width: 75%;
  max-width: 942px;
  height: auto;
  margin: 0 auto;
  z-index: 999;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav-bar {
  height: 70px;
  background: transparent url(../images/menu-bor.png) no-repeat right 12px;
  li {
    width: 20%;
    height: 70px;
    float: left;
    background: transparent url(../images/menu-bor.png) no-repeat left 12px;
    a {
      display: block;
      &:hover {
        background: url(../images/menu-active.png) no-repeat bottom;
      }
    }
  }
}

.menu-active {
  background: url(../images/menu-active.png) no-repeat bottom;
}

//banner
#banner {
  height: auto;
  padding: 0;
  text-align: center;
  background: transparent;
  &>.inner {
    border: 1px solid #ffffff;
    line-height: 0;
    .head-img {
      //width: 100%;  
    }
  }
}

.img-qc {width: 100%;}
.content {
  display:  block;
  width:  70%;
  max-width:  659px;
  height:  auto;
  float:  left;
	h2 {
		margin-bottom: 20px;
		padding: 7px;
	    border: 1px solid #a99887;
	    background: url(../images/h2-bg.jpg) repeat-x;
	    .line-h {
		    height: 26px;
		    padding: 6px 10px 10px 14px;
		    background:  transparent url(../images/line-h2.jpg) no-repeat;
		}
	}
	&-menu {
	    display:  block;
	    width:  100%;
	    margin-bottom: 60px;
	    ul {
		    display:  flex;
		    width:  100%;
		    justify-content:  space-between;
		    align-items:  center;
		}
	}
  &-consult {
    &-box1 {
      display: inline-block;
      width: 100%;
      height: auto;
      margin-bottom: 31px;
    }
    &-p1 {
      max-width: 423px;
      margin-left: 20px;
      p:first-child {
        font-size: 16px;
        font-weight: 500;
        color:  #472321;
        padding-bottom: 20px;
      }
      p:nth-child(2) {
        padding-bottom: 10px;
        font-size:  12px;
        color: #5e2b17;
        font-weight: 500;
      }
      a {
        float:  right;
        color: #a9220d;
        font-weight: 550;
      }  
    }
    // end p1 box1
    &-box2 {
      box-sizing:  border-box;
      display:  inline-block;
      width:  100%;
      height:  auto;
      margin-top:  20px;
      padding: 18px 14px 18px 26px;
      background:  white;  
    }
    &-p2 {
      width: 44%;
      max-width: 286px;
      font-weight: bold;
    }
    // end p2 box2
  }
}

.sidebar {
    display: block;
    width: 28%;
    max-width: 249px;
    float: right;
    margin: 0 auto;
    padding: 8px 3px;
    text-align: center;
    background: #f9f7f2;
    &-menu {
      width: 238px;
      margin: 0 auto;
      li {
        padding:  0;
        margin:  0;
        width: 100%;
        margin-right: 0;
      }
    }
    &-info {
      width: 238px;
      margin: 18px auto 0;
      background: #f3f0e9;
      h2 {
        background: url(../images/side-h2-bg.jpg) 2px center;
        padding:  12px 0;
        color:  white;
        text-align:  center;
        font-size: 18px;
      }
      dl {
        box-sizing:  border-box;
        margin: 8px 9px;
        letter-spacing: -2px;
        text-align: left;
        font-size: 12px;
        & > dd {
          padding-bottom: 5px;
          border-bottom: 1px dotted #c8bea9;
        }
        &:last-child {
          &>dd { 
            padding-bottom: 20px;
            border-bottom: none; 
          }
        }
      }  
    }
}

$brown: #a49785;
footer {
    display:  block;
    margin-top: 60px;
    padding: 20px 0 0;
    background:  url(../images/f-bg.jpg) repeat-x;
    background-size: contain;
    .f-menu {
      ul > li {
        display:  inline-block;
        float:  left;
        padding: 0 10px;
        line-height: 1.3;
        height: 15px;
        border-right: 0.5px solid $brown;
        &:first-child {
          padding-left: 0;      
        }
        &:last-child {
          padding-right:  0;
          border-right:  none;      
        }
        a {
          display:  block;
          letter-spacing: -2px;
          color: #a49785;      
        }
      }
    }
}

.page-top {
    position:  absolute;
    top: -60px;
    right:  0px;
}
p.copyright {
    padding-top: 40px;
    padding-bottom:  20px;
    color: #a49785;
    text-align: center;
}
