
$innerwidth: 960px;

//color
$colorWhite : #ffffff;

$colorRed: #CC3300;
$colorGrey: #7e7e7e;
$colorMainTxt: #4e4e4e;
$colorBlack: #000000;
$colorBlue: #00B0F0;
$colorGreen: #009900;
$colorStrongBlue: #0033cc;
$colorYellow: #ffffcc;
$colorFBlue: #d9ecff;
$colorCFBlue: #ccffff;
$colorSBlue: #0066FF;
$colorSGrey: #595959;
$colorLink: #3f8bff;
$colorBor: #99ccff;