.visiting-list {
  width: 100%;
  height: auto;
  border: 2px solid $colorBlue;
  border-collapse: collapse;
  tr {
    width: 100%;
    border: 1px solid $colorBlue;
    &:nth-child(odd) {background-color: #d9ecff;}
  }
  td, th {
    padding: 10px;
	text-align: left;
  }
  th {
	color: $colorWhite;
	text-align: left;
	font-weight: normal;
	background-color: #00b0f0;
	border-right: 1px solid #d9ecff;
    &:nth-child(2) {padding: 5px;}
    &:nth-child(4),
    &:nth-child(5) {text-align: center;}
  }
  td {
	height: 10px;
	font-weight: 500;
	border: 1px solid $colorBlue;
	&:nth-child(2) {padding: 5px;}
	&:nth-child(2),
	&:nth-child(4) {text-align: center;}
	&:nth-child(4) {padding-left: 15px;}
  }
  .point-red {
    width: 10px;
    height: 10px;
    background-color: red;
  }
}

//display visiting list(yellow header)
.visit-head {
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #ffc000;
}